html, body {
  width: 100%;
  height: 100%;
}
/* HEADER (HOME) STYLE */
header {
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 10px 10px;
}
/* Style the header links */
header a {
  float: left;
  color: #E68194;
  text-align: center;
  padding: 12px;
  margin-right: 40px;
  text-decoration: none;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  border-radius: 4px;
}

/*image sprite*/
.sprite a {
  display: inline;
  position: relative;
  top: -15px;
}
.PAWS {
  background: url('Images/sprite.png') no-repeat -142px -143px;
	width: 53px;
	height: 53px;
}
.PSPCA {
  background: url('Images/sprite.png') no-repeat -454px -145px;
	width: 52px;
	height: 52px;
}
.CARA {
  background: url('Images/sprite.png') no-repeat -302px -144px;
	width: 45px;
	height: 52px;
}
.PAWS :hover {
  background: url('Images/sprite.png') no-repeat -142px -220px;
	width: 53px;
	height: 53px;
}
.PSPCA :hover {
  background: url('Images/sprite.png') no-repeat -454px -218px;
	width: 52px;
	height: 52px;
}
.CARA :hover {
  background: url('Images/sprite.png') no-repeat -302px -221px;
	width: 45px;
	height: 50px;
}


/* Style the logo */
header img {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}
/* Style mouse hover */
header a:hover {
  background-color: #FADEE9;
  color:  #E68194;
}

/* TITLE STYLE */
div.title {
  line-height: 5px;
}
div.title h1 {
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  color: #E68194;
}
div.title h4 {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
  color: gray;
}

/* CONTENT STYLE */
div.content h3 {
  display: inline-block;
  position: absolute;
  left: 250px;
  vertical-align: top;
  font-family: cursive;
  font-size: 25px;
  color: #E68194;
  font-weight: bold;
}
div.content p {
  display: inline-block;
  max-width: 500px;
  position: relative;
  bottom: 400px;
  left: 250px;
  color: gray;
  font-family: monospace;
  font-size: 20px;
  font-weight: normal;
}
div.content img {
  margin: 20px;
  border: 5px solid white;
  height: 400px;
  width: 200px;
}
/* NAV STYLE */
nav a {
  display: inline-block;
  position: relative;
  top: -3.5in;
  right: -800px;
  padding: 5px;
  text-decoration: none;
  font-family: monospace;
  font-size:20px;
  background-color: #FFF4F4;
  color: #E68194;
}

/* FOOTER STYLE */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5in;
  background-color: white;
  color: #E68194;
  margin: 1px;
  text-align: center;
}
footer a {
  color:#E68194;
}
#date_modified {
  text-align: center;
}