/* HEADER (HIGHLIGHT) STYLE */
div.header {
  overflow: hidden;
  background-color: #B5CFC8;
  padding: 25px 10px;
}
div.header p.inline{
  float: left;
  color: white;
}
/* Style the logo/link */
div.header img {
  position: absolute;
  top: 0;
  right: 0;
  height: 90px;
  width: 90px;
}
/**/
div.header p {
  color: black;
  margin: auto;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
}
div.header p#motto {
  line-height: 5px;
  font-size: 10px;
  font-weight: thin;
  font-style: italic;
  color: white;
  position: relative;
  top: 5px;
  right: 120px;
}

/* CONTENT STYLE */
div.content {
  display: inline;
  vertical-align: center;
  margin: 10px 10px;
}
div.content img {
  text-align: left;
  position: relative;
  top: 10px;
  margin: 2px;
  height: 400px;
  width: 200px;
}
div.content h3 {
  display: inline;
  position: relative;
  top: 10px;
  vertical-align: top;
  text-align: left;
}
div.content p {
  position: absolute;
  float: left;
  top: 130px;
  left: 230px;
}
div.content a {
  position: absolute;
  bottom: 230px;
  left: 220px;
  text-decoration: none;
  vertical-align: center;
  font-size:25px;
  background-color: #E0C4B4;
  color: white;
}
div.content a.Submission {
  position: absolute;
  bottom: 280px;
  left: 220px;
}

/* FOOTER STYLE */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5in;
  background-color: #E0C4B4;
  color: black;
  margin: 1px;
  text-align: center;
}
#date_modified {
  text-align: center;
}