/* HEADER (HIGHLIGHT) STYLE */
div.header {
  overflow: hidden;
  background-color: #B5CFC8;
  padding: 25px 10px;
}
div.header p.inline{
  float: left;
  color: white;
}
/* Style the logo/link */
div.header a.inline {
  float: right;
  size: 10px 10px;
}
/**/
div.header p {
  color: black;
  margin: auto;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
}
div.header p#motto {
  line-height: 5px;
  font-size: 10px;
  font-weight: thin;
  font-style: italic;
  color: white;
  position: relative;
  top: 5px;
  right: 120px;
}

/* CONTENT STYLE */
div.content {
  display: inline;
  vertical-align: center;
  margin: 10px 10px;
}
div.content img {
  text-align: left;
  height: 500px;
  width: 250px;
}
div.content h3, p {
  display: inline;
  vertical-align: top;
  text-align: center;
}
div.content a {
  float: right;
  text-align: right;
  vertical-align: top;
  text-decoration: none;
}

/* FOOTER STYLE */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E0C4B4;
  color: black;
  line-height: 2px;
  text-align: center;
}
footer #date_modified {
  position: relative;
  left: 100px;
}
address {
  float: right;
  padding: 5px;
}
address a {
  text-decoration: none;
  color: black;
}