/* HEADER (ABOUT US) STYLE */
header {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 25px 10px;
}
header p {
  float: left;
  margin: auto;
  color: #E68194;
  font-family: cursive;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}
header p#motto {
  float: left;
  color: gray;
  font-family: monospace;
  line-height: 5px;
  font-size: 10px;
  font-weight: thin;
  font-style: italic;
  position: relative;
  bottom: -15px;
  left: -130px;
}
/* Style the logo/link */
header img {
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  margin-right: 23px;
}

/* CONTENT STYLE */
div.content {
  text-align: center;
  line-height: 40px;
}
div.content h1 {
  font-size: 40px;
  color: #E68194;
  font-family: cursive;
}
div.content p {
  font-family: monospace;
  font-size: 15px;
  font-style: italic;
  color: gray;
}

/* NAV STYLE */
nav p {
  display: inline-block;
  font-family: cursive;
  font-size: 25px;
  font-weight: bold;
  color: #E68194;
}
nav a {
  display: inline-block;
  margin: 20px;
  padding: 5px;
  vertical-align: center;
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  background-color: #FFF4F4;
  color: #E68194;
}

/* FOOTER STYLE */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1in;
  background-color: white;
  color: #E68194;
  margin: 1px;
  text-align: center;
}
footer #date_modified {
  position: relative;
  text-align: center;
}